/data/include.json
documentation-tex
documentation-tex/*
.gitignore
# LaTeX build files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.bbl
*.blg
*.lot
*.lof
*.gz
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.fls
*.fdb_latexmk
*.dvi
*.xdv
