.wrapper {
    display: grid;
    padding: 100px 50px 30px 50px;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
    color: var(--magenta-color);
}

a:hover {
    color: var(--red-color)
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding-top: 150px;
    }
}